# Python / venv
.venv/
__pycache__/
*.pyc

# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.idea/
*.iml

# OS specific
.DS_Store
Thumbs.db

# Environment variables
.env

# client config
client/lib/constants.dart